h1{
  text-align:center;
}

form{
  padding: 15px;
  text-align: left;
}

.editProfile {
  text-align: end;
}

.labels {
  font-weight: 500;
}

.editButton {
  margin-right: 2px;
}

.card-footer {
  border: 0px;
  background-color: rgba(191, 205, 206, 0.63);
}
