<nav class="container-fluid navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-8">
        <div class="row">
          <div class="col-sm-2">
            <div class="row">
              <div class="col-sm-1"></div>
              <div class="col-sm-3 p-1">
                <img src="https://cdn.worldvectorlogo.com/logos/giphy-logo-1.svg" alt="giphy" height="40px" />
              </div>
              <div class="col-sm-7">
                <a class="navbar-brand" href="dashboard">Gipher</a>
              </div>
            </div>
          </div>
          <div class="col-sm-10 collapse navbar-collapse">
            <ul class="navbar-nav">
              <li class="nav-item" *ngIf="currentPage != 'my-recommendations'">
                <a class="nav-link" href="my-recommendations">Recommendation</a>
              </li>
              <li class="nav-item" *ngIf="currentPage != '' && currentPage != 'dashboard' && currentPage != '#'">
                <a class="nav-link" href="dashboard">Dashboard</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" (click)="show=!show">
                  <fa-icon [icon]="faUser"></fa-icon>
                </a>
                <ul class="dropdown dropdown-menu" [ngClass]="{show: show === true}">
                  <li *ngIf="currentPage != 'profile' && this.loginService.isLoggedIn()"><a class="dropdown-item" href="profile">Profile</a></li>
                  <li *ngIf="currentPage != 'settings' && this.loginService.isLoggedIn()"><a class="dropdown-item" href="profile/settings">Settings</a></li>
                  <li *ngIf="this.loginService.isLoggedIn()"><hr class="dropdown-divider"></li>
                  <li *ngIf="!this.loginService.isLoggedIn()"><a class="dropdown-item" href="login">Login</a></li>
                  <li *ngIf="!this.loginService.isLoggedIn()"><a class="dropdown-item" href="register">Register</a></li>
                  <li *ngIf="this.loginService.isLoggedIn()" (click)="this.loginService.logout()"><a class="dropdown-item" href="login">Logout</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="row form-group">
          <div class="col-sm-7">
            <input type="text" id="search-text-field" class="form-control" placeholder="Search"
              [(ngModel)]="searchQuery" />
          </div>
          <div class="col-sm-3">
            <select id="search-type" class="form-select" [(ngModel)]="searchType">
              <option value="gif" selected>GIF</option>
              <option value="sticker">Sticker</option>
            </select>
          </div>
          <div class="col-sm-2">
            <button id="search-button" type="button" class="btn btn-outline-light" (click)="search()"
              [disabled]='searchQuery.length == 0'>
              <fa-icon [icon]="searchIcon"></fa-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>