<footer class="bg-dark text-center text-light">
  <div class="container p-4 pb-0">
    <section class="mb-4">
      <button class="btn btn-primary btn-floating m-2" style="background-color: #55acee;" href="#!">
        <fa-icon [icon]="faTwitter"></fa-icon>
      </button>
      <button class="btn btn-primary btn-floating m-2" style="background-color: #ac2bac;" href="#!">
        <fa-icon [icon]="faInstagram"></fa-icon>
      </button>
      <button class="btn btn-primary btn-floating m-2" style="background-color: #0082ca;" href="#!">
        <fa-icon [icon]="faLinkedIn"></fa-icon>
      </button>
      <button class="btn btn-primary btn-floating m-2" style="background-color: #555454;" href="#!">
        <fa-icon [icon]="faGithub"></fa-icon>
      </button>
    </section>
  </div>
  <div class="text-center p-3 copyrights">
    <h6 class="text-light">Made by Wave 15 - Team 7</h6>
  </div>
</footer>