.btn {
  border: hidden;
  border-radius: 10px;
}

#copyrights {
  background-color: black;
  opacity: 95%;
  font-weight: bold;
}

footer {
  background-color: #121212;
  opacity: 99%;
  font-weight: bold;
}