<form [formGroup]="updatePasswordForm">
  <table class="table table-striped">
    <tbody>
      <tr>
        <th colspan="2">Update Password</th>
      </tr>
      <tr>
        <th scope="row">Current Password:</th>
        <td>
          <input id="currentPassword" type="password" [formControl]="currentPassword" class="form-control"
            placeholder="Password" />
          <div *ngIf="currentPassword?.invalid && (currentPassword?.dirty || currentPassword?.touched)"
            class="alert alert-danger">
            <div class="password" *ngIf="currentPassword.errors?.required">
              Password is required
            </div>
            <div class="password" *ngIf="currentPassword.errors?.minlength">
              Password must be at least 5 characters long
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row">New Password:</th>
        <td>
          <input id="newPassword" type="password" [formControl]="newPassword" class="form-control"
            placeholder="New Password" />
          <div *ngIf="newPassword?.invalid && (newPassword?.dirty || newPassword?.touched)" class="alert alert-danger">
            <div class="password" *ngIf="newPassword.errors?.required">
              Password is required
            </div>
            <div class="password" *ngIf="newPassword.errors?.minlength">
              Password must be at least 5 characters long
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row">Confirm Password:</th>
        <td>
          <input id="confirmNewPassword" type="password" [formControl]="confirmNewPassword" class="form-control"
            placeholder="Confirm Password" />
          <div *ngIf="confirmNewPassword?.invalid && (confirmNewPassword?.dirty || confirmNewPassword?.touched)"
            class="alert alert-danger">
            <div class="password" *ngIf="confirmNewPassword.errors?.required">
              Confirm password required
            </div>
            <div class="password" *ngIf="confirmNewPassword.errors?.minlength">
              Password must be at least 5 characters long
            </div>
          </div>
          <div class="alert alert-danger"
            *ngIf="confirmNewPassword.value.length >= 5 && confirmNewPassword.value != newPassword.value">
            Passwords don't match
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row" colspan="2">
          <input type="submit" [disabled]="!updatePasswordForm?.valid || confirmNewPassword.value != newPassword.value"
            class="container form-control btn-success w-50" (click)="updatePassword()" />
        </th>
      </tr>
    </tbody>
  </table>
</form>