<div class="container col-md-12" id="preloader">
  <div class="container col-md-6">
    <div class="progress">
      <div class="progress-bar" role="progressbar">
      </div>
    </div>
  </div>
</div>
<div class="container" id="loginform">
  <div class="d-flex justify-content-center align-items-center vh-100">
    <div class="container flex-center">
      <h1>Login</h1>
      <br>
      <form [formGroup]="loginForm" class="form-font">
        <div class="form-group">
          <input id="email" type="email" [formControl]="username" class="form-control" placeholder="Username" />
        </div>
        <br>
        <div class="form-group">
          <input id="password" type="password" [formControl]="password" class="form-control" placeholder="Password" />
        </div>
        <br>
        <button type="submit" [disabled]="!loginForm.valid" class="btn btn-success" (click)="loginSubmit()">Submit</button>
        <div *ngIf="this.loginService.result.length > 0">
          <br>
          <p class="alert alert-danger">Wrong credentials</p>
        </div>
      </form>
    </div>
  </div>
</div>