.car-img-top {
  padding: 5px;
}

.card {
  width: 200px;
  background-color: #282828;
}

.cards {
  padding: 5px;
}

.icon {
  width: 10px;
  height: 25px;
}

.count {
  text-align: end;
}

.counter {
  background-color: olivedrab;
  color: #282828;
  font-weight: bold;
  border-radius: 100%;
  border-color: #121212;
}

.card-footer {
  background-color: #121212;
}

.gipher-image {
  background-color: #121212;
}