<div class="card p-2">
  <div class="input-group input-group-lg p-2 mt-3 mb-3" *ngIf="isLoggedIn(); else login">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-10">
          <input type="text" class="form-control col-sm-12" placeholder="Enter your comment" [(ngModel)]="comment" />
        </div>
        <div class="input-group-btn col-sm-2">
          <button class="btn btn-success col-sm-12" (click)="addComment()">
            Comment
          </button>
        </div>
      </div>
    </div>
  </div>
  <ng-template #login>
    <div class="p-1 mt-3 mb-3">
      <button class="btn btn-primary container not-logged-in">Login First</button>
    </div>
  </ng-template>
  <br>
  <div class="container col-sm-10 cards" *ngIf="userCommentArray">
    <div class="card h-100 p-1 mb-3" *ngFor="let cmnt of userCommentArray; index as i">
      <!-- User profile to be added with comment -->
      <div class="card-body justify-content-between">
        <div class="row">
          <div class="col-sm-2">
            <button class="btn btn-dark" disabled>
              <fa-icon [icon]="faUser" transform="grow-2"></fa-icon>
            </button>
          </div>
          <div class="col-sm-9">
            <p [innerHTML]="cmnt"></p>
          </div>
          <div class="col-sm-1">
            <button class="btn btn-outline-danger" (click)="deleteComment(i)">
              <fa-icon [icon]="faDelete" transform="shrink-2"></fa-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>