<div *ngIf="this.fetchService.searchArray.length > 0">
  <div id="search-results" class="container col-xs-12">
    <hr>
    <div *ngIf="this.fetchService.searchType == 'gif'; else sticker">
      <h3>Searched GIFs</h3>
    </div>
    <ng-template #sticker>
      <h3>Searched Stickers</h3>
    </ng-template>
    <br>
    <app-card [cardArray]="this.fetchService.searchArray"></app-card>
  </div>
</div>
<div *ngIf="this.fetchService.noResults.length > 0">
  <hr>
  <div id="search-results" class="container col-xs-12">
    <h3>Search Results</h3>
    <h5 class="text text-warning">{{ this.fetchService.noResults }}</h5>
  </div>
</div>