<div *ngIf="this.searchArray.length > 0" id="search">
  <div id="search-results" class="container col-xs-12">
    <div *ngIf="this.fetchService.searchType == 'gif'; else sticker">
      <h3>Searched GIFs</h3>
    </div>
    <ng-template #sticker>
      <h3>Searched Stickers</h3>
    </ng-template>
    <br>
    <div class="row content-row">
      <app-card
        [cardArray]="this.searchArray | paginate:{id:'search-paginate', itemsPerPage:12, currentPage:p}">
      </app-card>
    </div>
    <br>
    <div class="d-flex">
      <pagination-controls id="search-paginate" class="paginate mx-auto my-pagination" (pageChange)="p=$event">
      </pagination-controls>
    </div>
    <hr>
  </div>
  <br>
</div>
<div *ngIf="this.fetchService.noResults.length > 0">
  <hr>
  <div id="search-results" class="container col-xs-12">
    <h3>Search Results</h3>
    <h5 class="text text-warning">{{ this.fetchService.noResults }}</h5>
  </div>
</div>