<div class="container">
  <div class="d-flex justify-content-center align-items-center vh-100">
    <div class="container flex-center ">
      <h1> Register </h1>
      <br>
      <form [formGroup]="registrationForm" (ngSubmit)="registerSubmit()">
        <div class="form-group">
          <input id="name" type="text" [formControl]="name" class="form-control" placeholder="Name" />
          <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="alert alert-danger">
            <div class="name" *ngIf="name.errors?.required">
              Username is required
            </div>
            <div class="name" *ngIf="name.errors?.minlength">
              Name must be at least 5 characters long
            </div>
          </div>
        </div>
        <br>
        <div class="form-group">
          <input id="email" type="email" [formControl]="email" class="form-control" placeholder="Email" />
          <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="alert alert-danger">
            Enter a valid email
          </div>
        </div>
        <br>
        <div class="form-group">
          <input id="username" type="text" [formControl]="username" class="form-control" placeholder="Username" />
          <div *ngIf="username?.invalid && (username?.dirty || username?.touched)" class="alert alert-danger">
            <div class="username" *ngIf="username.errors?.required">
              Username is required
            </div>
            <div class="username" *ngIf="username.errors?.minlength">
              Name must be at least 5 characters long
            </div>
          </div>
        </div>
        <br>
        <div class="form-group">
          <input id="dob" type="date" min="1960-01-01" max="2006-12-31" [formControl]="dob" class="form-control" />
          <div *ngIf="dob?.invalid && (dob?.dirty || dob?.touched)" class="alert alert-danger">
            <div *ngIf="dob.errors?.required">
              Date of Birth is required.
            </div>
          </div>
        </div>
        <br>
        <div class="form-group">
          <input id="mobile-number" type="tel" [formControl]="mobileNumber" class="form-control"
            placeholder="Mobile Number" />
          <div class="mobileNumber" *ngIf="mobileNumber?.invalid && (mobileNumber?.dirty || mobileNumber?.touched)"
            class="alert alert-danger">
            <div *ngIf="mobileNumber.errors?.required">
              Mobile number is required
            </div>
            <div *ngIf="mobileNumber?.errors || (mobileNumber.errors?.minlength || mobileNumber.errors?.maxLength)">
              Mobile number should be 10 digit long
            </div>
          </div>
        </div>
        <br>
        <div class="form-group">
          <input id="password" type="password" [formControl]="password" class="form-control" placeholder="Password" />
          <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="alert alert-danger">
            <div class="password" *ngIf="password.errors?.required">
              Password is required
            </div>
            <div class="password" *ngIf="password.errors?.minlength">
              Password must be at least 5 characters long
            </div>
          </div>
        </div>
        <br>
        <div class="form-group">
          <input id="confirmPassword" type="password" [formControl]="confirmPassword" class="form-control"
            placeholder="Confirm Password" />
          <div *ngIf="confirmPassword?.invalid && (confirmPassword?.dirty || confirmPassword?.touched)"
            class="alert alert-danger">
            <div class="password" *ngIf="confirmPassword.errors?.required">
              Confirm password required
            </div>
            <div class="password" *ngIf="confirmPassword.errors?.minlength">
              Password must be at least 5 characters long
            </div>
          </div>
          <div class="alert alert-danger" *ngIf="confirmPassword.value.length >= 5 && confirmPassword.value != password.value">
            Passwords don't match
          </div>
        </div>
        <br>
        <button mat-flat-button type="submit" [disabled]="!registrationForm?.valid || confirmPassword.value != password.value"
          class="btn btn-success">Submit</button>
      </form>
    </div>
  </div>
</div>