<div class="container col-md-12" id="preloader">
  <div class="container col-md-6">
    <div class="progress">
      <div class="progress-bar" role="progressbar">
      </div>
    </div>
  </div>
</div>
<div class="container col-sm-12" id="details">
  <div class="container col-sm-12">
    <h3 [innerHTML]="card!.title | titlecase"></h3>
    <hr><br>
    <div class="row justify-content-center">
      <div class="container col-sm-4">
        <img src="{{ card!.imgUrl }}" alt="{{ card!.title }}" width="360px" height="260px" id="image" class="p-1">
      </div>
    </div>
  </div>
  <br><br>
  <div class="container col-sm-12">
    <div class="row justify-content-center">
      <div class="col-sm-1">
        <div class="row">
          <div class="col-sm-2" *ngIf="!recommendService.isRecommended(card)">
            <button class="btn btn-outline-success icon recommend" (click)="recommendService.recommend(card)">
              <fa-icon [icon]="faRecommend" transform="shrink-2">
              </fa-icon>
            </button>
          </div>
          <div class="col-sm-2" *ngIf="recommendService.isRecommended(card)">
            <button class="btn btn-outline-danger icon unrecommend" (click)="recommendService.unrecommend(card)">
              <fa-icon [icon]="faUnrecommend" transform="shrink-2">
              </fa-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="col-sm-1">
        <div class="row">
          <div class="col-sm-2" *ngIf="!favoriteService.isFavorite(card)">
            <button class="btn btn-outline-warning icon recommend" (click)="favoriteService.favorite(card)">
              <fa-icon [icon]="faFavorite" transform="shrink-2">
              </fa-icon>
            </button>
          </div>
          <div class="col-sm-2" *ngIf="favoriteService.isFavorite(card)">
            <button class="btn btn-outline-danger icon unrecommend" (click)="favoriteService.unfavorite(card)">
              <fa-icon [icon]="faUnfavorite" transform="shrink-2">
              </fa-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
    <br><br>
    <app-comments [cardId]="card!.id"></app-comments>
    <br><br>
  </div>
</div>