<div class="container p-3 profile flex-center">
  <div class="container">
    <h1>Edit Profile</h1>
    <br>
    <div class="container card-footer">
      <form method="post">
        <div class="row p-2">
          <div class="col-sm-2">
            <form [formGroup]="imageUpload">
              <div class="row">
                <div class="col-sm-9">
                  <div class="col-sm-12">
                    <label for="picture"></label>
                    <input type="file" id="picture" accept="image/*" class="btn w-100 form-control"
                      (change)="onFileChange($event)" />
                    <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
                      <div *ngIf="f.file.errors && f.file.errors.required">File is required.</div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <button class="btn btn-secondary w-100" type="submit" (click)="submit()">Upload</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="col-sm-8">
            <div class="row">
              <div class="profile-head col-sm-4">
                <div class="profile-head">
                  <img [src]="imageSrc" style="height: 100px; width: 100px" id="profile-pic">
                </div>
              </div>
              <div class="profile-head col-sm-8">
                <h5>{{ name }}</h5>
                <h6>{{ username }}</h6>
                <h6>{{ email }}</h6>
              </div>
            </div>
          </div>
          <div class="col-sm-2 editProfile">
            <button type="button" class="btn btn-danger" (click)="deleteUser()">Delete Profile</button>
          </div>
        </div>
        <hr>
        <div class="row mt-4">
          <div class="row">
            <div class="col-sm-6">
              <app-update-details></app-update-details>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-5">
              <app-update-password></app-update-password>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>