<div class="container col-sm-12">
  <h3>Recommended</h3>
  <br>
  <div *ngIf="this.recommendService.recommendedArray.length > 0; else norecommended">
    <div class="row content-row">
      <app-card
        [cardArray]="this.recommendService.recommendedArray | paginate:{id: 'recommended-paginate', itemsPerPage:12, currentPage:p}">
      </app-card>
    </div>
    <br>
    <div class="d-flex">
      <pagination-controls id="recommended-paginate" class="paginate mx-auto my-pagination" (pageChange)="p=$event">
      </pagination-controls>
    </div>
  </div>
  <ng-template #norecommended>
    <div id="search-results" class="container col-xs-12">
      <h5 class="text text-warning">No recommendations yet</h5>
    </div>
  </ng-template>
</div>